html {
    box-sizing: border-box;
    font-family: "Open Sans" sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    /*   overflow: hidden; */
}

h1 {
    margin: 0;
    font-size: 2.125rem;
}

h2 {
    margin: 0;
    font-size: 1.375rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}

.heder1 {
    padding: 0;
    background: linear-gradient(
        90deg,
        rgba(8, 44, 78, 1) 78%,
        rgba(237, 34, 42, 1) 99%
    );
}

.titulo {
    padding-left: 2.9rem;
    display: inline;
    color: #f7f7f7;
}

.btn-title {
    display: inline;
}
.logo {
    display: inline;
    background-size: 70px;
}

.imagen {
    height: 70px;
    width: 70px;
}

.menu1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header2 {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu2 {
    height: 1.438rem;
    width: auto;
    /*   border: solid 1px; */
}

.menu2 a {
    padding: 0 2.5rem;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.principal {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-image: url("../imags/Frame.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo-carrucel {
    color: #082c4e;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}
