.piano-cuer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    /* margin: 50px; */
    padding: 80px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    height: 100vh;
    position: relative;
}

.piano2 {
    width: 1300px;
    height: 600px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.piano_body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.piano_speaker {
    width: 300px;
    height: 150px;
    border-radius: 5px;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}

.piano_interface {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 10px #111;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.piano_play_btn,
select {
    font-size: 16px;
}

.piano_keyboard {
    width: 100%;
    height: 540px;
    background-color: #000;
    display: flex;
}

.piano_key {
    width: 30px;
    height: 100%;
    padding: 0;
    margin: 0 1px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0 0 8px 8px;
    flex-grow: 1;
}

.piano_key_black {
    background-color: #000;
    color: #fff;
    height: 60%;
    position: absolute;
    top: 0;
    left: -15px;
}

.empty_space {
    position: relative;
}

.piano_key_white {
    padding-top: 180px;
}

.piano_key_playing {
    background-color: #74b9ff;
}

.piano_controls {
    padding-top: 15px;
}

.piano_autoplay {
    padding-top: 35px;
}

.paino_heading {
    padding: 8px;
}
